################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/turbo_catan/__pycache__
/turbo_catan/.ipynb_checkpoints
/.vs
/.ipynb_checkpoints
